/* ALL SHARED*/
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
.btn{
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    border: 8px;
    }
/*header section*/
#h-section{
    display: flex;
    background-color: #E554731A;
    justify-content: space-between;
    margin-bottom: auto;
    
}
#h-left{
margin-left: 240px;
}
#h-heder{
color: #272727;
font-family: Lato;
font-size: 80px;
font-weight: 800;
margin-top: 197px;
width: 708px;
height: 288px;
}
#h-peragraph{
color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
#h-pic{
width: 635px;
height: 800px;
flex-shrink: 0; 
margin-top: 50px;
margin-right: 240px;
margin-bottom: 0;
border: 5px;
}
/* third section*/
#th-section{
 display: flex;
 justify-content: space-between;
 text-align: center;
 border-radius: 8px;
 background: rgba(229, 84, 115, 0.05);
 margin-top: 128px;

}
#th-header{
margin-left:423px;
margin-top:230px;

color: #272727;


}
#td-paragraph{
width: 594px;
height: 60px;

margin-left: 395px;
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}

#td-pic{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 429px;
}
#td-btn{
    margin-left: 406px;
    margin-bottom: 182px;
}
#td-span{
    color: #E55473;
}
/*Foth section*/

#fo-section{
    margin-left: 240px;
    margin-right: 240px;
}
#fo-head{
    margin-top: 128px;
    margin-left: 630px;
    margin-bottom: 132px;
    margin-right: 630px;

    color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-weight: 800;
}
#fo-sectwo{
    display: inline-flex;
    margin-left: 240px;
    margin-right: 240px;
    margin-bottom: 128px;
}
.fo-pic{
    width: 342 px ;
    height: 396px ;
    margin-right: 24px;
}

/*fifth section*/

#fi-sec{
    margin-left: 240px;
    margin-right: 240px;
    margin-bottom: 128px;
    height: 450px;
    border-radius: 8px;
background: url('../image/Rectangle\ 9.png');
 background-repeat: no-repeat;
 background-size: cover;
}
#fi-head{
    
    padding-top: 122px;
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-weight: 800;
display: block;
margin: auto;
}

#fi-para{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
form{
    display: flex;
    justify-content: center;
    
}
.inpt{
    width: 700px;
height: 64px;
border: 0;

}
/* Footer*/
.foot{
background: #111010;
padding: 80px 0;

}

#fu-head{
    color: #E55473;
font-family: Lato;
font-size: 48px;
font-weight: 800;

text-align: center;
}
#fu-span{
    color: white;
}
#fu-paraone{
    color: rgba(255, 255, 255, 0.90);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
display: block;
margin: auto;
margin-bottom: 32px;

width: 625px;
}
#fu-paratwo{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    display: block;
    margin-top: 32px;
    margin: auto;

}


